<html xmlns:th="http://www.thymeleaf.org">
<div th:include="outer-header::head"></div>
<body>
<div th:include="outer-header::nav"></div>
<style>
    form *{
    font-family: 'Poppins',sans-serif;
    color: #000000;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
</style>
<section class="vh-100" style="background-color: #ade8f4; ">
    <div class="container h-100" style="background-color: #ade8f4; ">
      <div class="row d-flex justify-content-center align-items-center h-100" style="background-color: #ade8f4; ">
        <div class="col-lg-12 col-xl-11" style="background-color: #ade8f4; ">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                  <form class="mx-1 mx-md-4" th:action="@{/workshop_signup}" method="POST" th:object="${workshop}">

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" id="form3Example1c" th:field="*{name}"  class="form-control" required />
                        <label class="form-label" for="form3Example1c">Name: </label>
                      </div>
                    </div>


                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="email" id="form3Example3c" th:field="*{email}" class="form-control" required />
                        <label class="form-label" for="form3Example3c">Email: </label>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="password" id="form3Example4c" th:field="*{password}" class="form-control" minlength="8" required />
                        <label class="form-label" for="form3Example4c">Password: </label>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="password" id="form3Example4cd" name="confirmPassword" class="form-control" required minlength="8" />
                        <label class="form-label" for="form3Example4cd">Confirm Password: </label>
                      </div>
                    </div>
<!--                    <% if (prob==="email") { %>-->
<!--                      <div class="alert alert-danger" role="alert">-->
<!--                        Email already registered-->
<!--                      </div>-->
<!--                    <% } %>-->
<!--                    <% if (prob==="pass") { %>-->
<!--                      <div class="alert alert-danger" role="alert">-->
<!--                        Passwords do not match-->
<!--                      </div>-->
<!--                    <% } %>-->
<!--                    <% if (prob==="details") { %>-->
<!--                      <div class="alert alert-danger" role="alert">-->
<!--                        Enter all details-->
<!--                      </div>-->
<!--                    <% } %>-->

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-mobile fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" id="form3Example1c" th:field="*{mobile}" class="form-control" required />
                        <label class="form-label" for="form3Example1c">Mobile: </label>
                      </div>
                    </div>

<!--                    <div class="d-flex flex-row align-items-center mb-4">-->
<!--                        <i class="fas fa-plus fa-lg me-3 fa-fw"></i>-->
<!--                        <div class="form-outline flex-fill mb-0">-->
<!--                          <input type="text" id="form3Example1c" name="district" class="form-control" required />-->
<!--                          <label class="form-label" for="form3Example1c">District</label>-->
<!--                        </div>-->
<!--                      </div>-->

<!--                    <div class="d-flex flex-row align-items-center mb-4">-->
<!--                    <i class="fas fa-location-arrow fa-lg me-3 fa-fw"></i>-->
<!--                    <div class="form-outline flex-fill mb-0">-->
<!--                        <input type="text" id="form3Example1c" name="area" class="form-control" required />-->
<!--                        <label class="form-label" for="form3Example1c">Area</label>-->
<!--                    </div>-->
<!--                    </div>-->

                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-map-marker fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input type="text" id="form3Example1c" th:field="*{address}" class="form-control" required />
                          <label class="form-label" for="form3Example1c">Address Details: </label>
                        </div>
                      </div>

                    <div th:if="${message}" class="alert alert-danger text-center">
                      [[${message}]]
                    </div>
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button type="submit" class="btn btn-outline-dark btn-lg">Register</button>
                    </div>
                  </form>
                  <p>Already registered? <a <a th:href="@{/}" style="text-decoration: none;">Sign in</a></p>
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                  <img th:src="@{/styles/workshop.jpg}"
                    class="img-fluid" alt="Sample image">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<div th:include="footer::footer"></div>
</body>
</html>