
/* CSS */
.button-58 {
    align-items: center;
    background-color:#2DCDDF;
    border: 2px solid #2DCDDF;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-58:focus {
    color: #171e29;
}

.button-58:hover {
    background-color: #3385ff;
    border-color: #3385ff;
    fill: #06f;
}

.button-58:active {
    background-color: #3385ff;
    border-color: #3385ff;
    fill: #06f;
}

@media (min-width: 768px) {
    .button-58 {
        min-width: 170px;
    }
}
/* CSS */
.loc-form{
    display: block;
    text-align: center;
}
.location-button {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    align-self: center;
}

.location-button:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

@media (min-width: 768px) {
    .location-button {
        padding: 0.25em 0.75em;
    }
}
.drop_down{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
    border: 1px solid #D5D6D7;
    box-sizing: border-box;
    padding: 15px;
    width: 100%;
    background-color: #cf6324;
    border-radius: 5px;
}
.select_box2{
    background-color: #6C00FF;
    border-radius: 5px;
}
.select_box1{
    background-color: rgb(43, 194, 236);
    border-radius: 5px;
}
#email{
    background-color: rgb(28, 72, 62);
}
#password{
    background-color: rgb(28, 72, 62);
}
#email::placeholder{
    opacity: 0.2;
}
#password::placeholder{
    opacity: 0.2;
}

.select_box{
    background-color: rgb(28, 72, 62);
    border-radius: 5px;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: rgb(50, 50, 175);
    border-width: 5px;
    width: 5%;
    margin: auto;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
    line-height: 1.5;
    color: #eee;
}

h2{
    margin: 20px 10px;
}
.testimonial-text{
    font-family: 'Montserrat-bold', sans-serif;
    font-size: 3rem;
    line-height: 1.5;

}

h3{
    font-weight: bold;
    font-size: 1.5rem;
}

.container-fluid{
    padding: 3% 15%;
    padding-bottom: 300px;
    background: url('home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    font-family: 'Montserrat', serif;
}

p{
    color: #8f8f8f;
}

.navbar-brand{
    font-family: 'Pacifico', cursive;
    font-size: 3em;
}

.nav-item{
    padding: 0 18px;
}

.dw-btn{
    margin: 50px 10px;
}

/* .title-image{
	width: 60%;
	transform: rotate(25deg);
} */

#features{
    padding:  7% 15%;
}

.feature-box{
    text-align: center;
    padding: 5%;
}

.icon{
    color: #ef8172;
}

.icon:hover{
    color: #ff4c68;
}

/* #testimonials{

	text-align: center;
	background-color: #fff;
} */

/* .testimonial-image{
	width: 10%;
	border-radius: 100%;
	margin: 20px;
} */

#sites{
    background-color: #fff;
    text-align: center;
    margin: 7% 15%
}

#sites-h3{
    text-align: center;
    padding: 10px 0px;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
    transition: all 1s;
}

.press-logo:hover
{
    transform: scale(1.1);
}

.flexbox-container{
    display: flex;
    flex-wrap: wrap;
}
/* .carousel-item{
	padding: 7% 15%;
}

#pricing{
	text-align: center;
	padding: 100px;
}

.pricing-column
{
	padding: 3% 2%;
} */

.prob-section {
    background-color: #eee;
}

.problem-table{
    border-collapse: collapse;
    font-size: 0.9em;
    margin: 25px 10px;
    /* min-width: 80%; */
    /* table-layout: fixed; */
}

.table-responsive {
    overflow : hidden;
}

.problem-table thead tr
{
    background-color: #8f8f8f;
    color: #fff;
    text-align: left;
}

.problem-table th,
.problem-table td {
    padding: 12px 15px;
}

.problem-table tbody tr{
    border-bottom: 1px solid #dddd;
}

.problem-table tbody tr:last-of-type
{
    border-bottom: 2px solid #8f8f8f;
}

.problem-table a {
    text-decoration: none;
}


.prob-categories{
    background-color: #628E90;
    border: 1px solid #000;
    /* margin: 0 80px; */
    margin-right : 150px;
    border-radius: 10px;
    width: 380px;
}

/* .container-sm {
  margin : 100px 250px;
} */

.container-sm a{
    text-decoration: none;
}


/* login-CSS */
.Login{
    position: absolute;
    right: 450px;
    top: 450px;
}


*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
            #1845ad,
            #23a2f6
    );
    left: -80px;
    top: -80px;
}
.shape:last-child{
    background: linear-gradient(
            to right,
            #ff512f,
            #f09819
    );
    right: -30px;
    bottom: -80px;
}
.Login-form{
    height: 520px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

.Login-label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}
.Login-button{
    margin-top: 50px;
    width: 100%;
    background-color: #eab73f;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}
.Login-button:hover {
    background-color: #3fd9ea;
}
.social{
    margin-top: 30px;
    display: flex;
}
.social div{
    background: red;
    width: 150px;
    border-radius: 3px;
    padding: 5px 10px 10px 5px;
    background-color: rgba(255,255,255,0.27);
    color: #eaf0fb;
    text-align: center;
}
.social div:hover{
    background-color: rgba(255,255,255,0.47);
}
.social .fb{
    margin-left: 25px;
}
.social i{
    margin-right: 4px;
}

img{
    border-radius: 25px;
    border: 2px solid #cf7f24;
    padding: 20px;
    width: 600px;
    height: 800px;
}





/* search-button */
/* *{
    box-sizing: border-box;
  }
  body{
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #130f40;
    font-family: 'Lato' !important;
  } */
.search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
}
.input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #22a6b3;
    padding-right: 40px;
    color:#fff;
}
.input-search::placeholder{
    color:rgba(255,255,255,.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
}
.btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#ffffff ;
    background-color:transparent;
    pointer-events: painted;
}
.btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}






